<!DOCTYPE html>
<html>
  <% const pageName = "Consentement à communiquer" %>
  <head>
    <title><%= pageName %></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <article>
      <section class="page">
        <div class="container">Allo</div>
      </section>
    </article>
  </body>
</html>
